@font-face {
    font-family: "Manrope";
    src: url("/web_font_manrope/static/fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
